body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav{
    display:flex;
    justify-content: center;
    background-color: rgb(245, 214, 176);
    padding: 10px; 
    width:70%;
    margin: auto;
    }

nav a{
    color: rgb(119, 98, 98);
    margin: 0 15px; 
}
nav a:hover{
    background-color: rgb(212, 152, 79);
    padding: 0px 10px;   
}

.header{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(222, 48, 48);
    color: white;

}

.footer{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:  50px;
    background-color: rgb(207, 133, 147);
    color: aliceblue;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box {
    display: flex;
    margin: 10px;
    width: 200px;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 76, 87);
    color: white
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}
