body {
  background: linear-gradient(45deg, rgb(216, 147, 205), rgb(157, 181, 242), rgb(178, 170, 178));
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;

  font-family: Georgia, sans-serif; /* HIER gehört es hin */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  color: darkblue;
  text-align: center;
}

.box {
    width: 20px;
    height: 50px;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 100px;
    background-color: rgb(143, 189, 226);
    margin: 100px;
}

.flower {
  position: relative;
  width: 120px;
  height: 120px;
  background: rgb(136, 196, 246); /* Mitte der Blume */
  border-radius: 50%;
  margin: 100px auto; /* Zentriert die Blume */
}

/* gemeinsame Eigenschaften aller Blütenblätter */
.petal {
  position: absolute;
  width: 80px;
  height: 80px;
  background: pink;
  border-radius: 50%;
  top: 20px; /* Positioniert die Blütenblätter */
  left: 20px;
  transform-origin: 40px 100%; /* Drehpunkt an der Mitte unten */
}