body {
    background-color: rgb(127, 42, 206);
    font-family: "font1", sans-serif;
    font-size: 30px;
}

@font-face {
    font-family: "font1";
    src: url("font.woff2/alex-brush/AlexBrush-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}   

h1 {
    color: darkblue;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    gap: 20px;
}

.box {
    width: 200px;
    height: 210px;
    background-color: rgb(225, 153, 19);
    border-radius: 20px;
    border: 8px solid rgb(240, 175, 84);
    position: relative;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box.tall {
    height: 240px;
}

.box.short {
    height: 180px;
}